@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700;800&family=Open+Sans:wght@400;600&display=swap');
h1,
h2,
h3,
h4 {
    font-family: 'Nunito', sans-serif;
}
@font-face {
    font-family: 'Vegan Style';
    src: local('vegan'), url('./assets/fonts/vegan.ttf') format('truetype');
}
.heading-1 {
    font-size: 5rem;
    line-height: 1;
    font-weight: 700;
    @include mq-min($v-6) {
        font-size: 6.5rem;
    }
}
.heading-2 {
    position: relative;
    text-align: center;
    text-transform: uppercase;
    font-size: 2.3rem;
    letter-spacing: 4px;
    line-height: 1;
    font-weight: 800;

    margin-bottom: 5rem;
    @include mq-min($v-10) {
        margin-bottom: 7.5rem;
    }

    &::after {
        content: '';
        position: absolute;
        top: 3rem;
        left: 50%;
        transform: translateX(-50%);
        height: 4px;
        width: 5rem;
        border-radius: 3rem;
        background-color: var(--accent);
    }
    @include mq-min($v-10) {
        text-align: left;
        margin-bottom: 10rem;

        &::after {
            left: 0;
            transform: translate(0);
        }
    }
}
.heading-3 {
    font-size: var(--s-32);
    line-height: 0.9;
    @include mq-min($v-6) {
        font-size: var(--s-42);
    }
}
.heading-4 {
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.section-title {
}
